name: Daily NBA Data Update

on:
  schedule:
    - cron: '0 8 * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update-data:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install Chromium Browser & Driver
      run: |
        sudo apt-get update
        sudo apt-get install -y chromium-browser chromium-chromedriver

    - name: Install Dependencies
      run: |
        pip install -r requirements.txt

    - name: Run Data Scraper
      run: python src/data_ops.py

    - name: Commit and Push changes
      run: |
        git config --global user.name "GitHub Action Bot"
        git config --global user.email "actions@github.com"
        git add data/raw/nba_master_data_2026.csv
        # Eğer değişiklik yoksa hata verme, varsa commit et
        git commit -m "chore: Daily data update by bot" || exit 0
        git push